<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BrowserHoard</display-name>
  <context-param>
    <param-name>aws.access_key</param-name>
    <param-value>AKIAJUJV4KC43J3DSNXA</param-value>
  </context-param>
  <context-param>
    <param-name>aws.secret_key</param-name>
    <param-value>7ucHXYnMk+lWsstJeZvactOwneLqgdxVVBbKhLHQ</param-value>
  </context-param>
  <context-param>
    <param-name>aws.user_agent</param-name>
    <param-value>Browser Horde</param-value>
  </context-param>
  <context-param>
    <param-name>aws.s3.bucket</param-name>
    <param-value>com.browserhorde.dev</param-value>
  </context-param>
  <context-param>
    <param-name>aws.simpledb.domain_prefix</param-name>
    <param-value>com.browserhorde.dev</param-value>
  </context-param>
  <context-param>
    <param-name>aws.ses.sender</param-name>
    <param-value>no-reply@brainsinjars.com</param-value>
  </context-param>
  <context-param>
    <param-name>memcached.cluster</param-name>
    <param-value>localhost:11211</param-value>
  </context-param>
  <listener>
    <listener-class>com.browserhorde.server.Configurator</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
  </listener>
  <listener>
    <listener-class>com.browserhorde.server.DependencyInjection</listener-class>
  </listener>
  <filter>
    <display-name>ErrorTrap</display-name>
    <filter-name>ErrorTrap</filter-name>
    <filter-class>com.browserhorde.server.ErrorTrap</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ErrorTrap</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>GuiceFilter</display-name>
    <filter-name>GuiceFilter</filter-name>
    <filter-class>com.browserhorde.server.IntermediateGuiceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GuiceFilter</filter-name>
    <url-pattern>/</url-pattern>
    <url-pattern>/jobs/*</url-pattern>
    <url-pattern>/scripts/*</url-pattern>
    <url-pattern>/tasks/*</url-pattern>
    <url-pattern>/results/*</url-pattern>
    <url-pattern>/users/*</url-pattern>
    <url-pattern>/workorders/*</url-pattern>
    <url-pattern>/benchmarks/*</url-pattern>
  </filter-mapping>
</web-app>