<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BrowserHoard</display-name>
  <context-param>
    <param-name>aws.access_key</param-name>
    <param-value>AKIAJUJV4KC43J3DSNXA</param-value>
  </context-param>
  <context-param>
    <param-name>aws.secret_key</param-name>
    <param-value>7ucHXYnMk+lWsstJeZvactOwneLqgdxVVBbKhLHQ</param-value>
  </context-param>
  <context-param>
  	<param-name>aws.object_prefix</param-name>
  	<param-value>com.browserhorde.dev.</param-value>
  </context-param>
  <context-param>
    <param-name>aws.user_agent</param-name>
    <param-value>Browser Horde (browserhor.de)</param-value>
  </context-param>
  <context-param>
    <param-name>aws.s3.buckets</param-name>
    <param-value>scripts;results</param-value>
  </context-param>
  <context-param>
    <param-name>aws.simpledb.domains</param-name>
    <param-value>users;jobs;tasks;results</param-value>
  </context-param>
  <listener>
    <listener-class>com.browserhorde.server.Configurator</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
  </listener>
  <filter>
    <display-name>ErrorTrap</display-name>
    <filter-name>ErrorTrap</filter-name>
    <filter-class>com.browserhorde.server.ErrorTrap</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ErrorTrap</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>JobServlet</display-name>
    <servlet-name>JobServlet</servlet-name>
    <servlet-class>com.browserhorde.server.api.JobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobServlet</servlet-name>
    <url-pattern>/job/checkout</url-pattern>
    <url-pattern>/job/checkin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScriptServlet</display-name>
    <servlet-name>ScriptServlet</servlet-name>
    <servlet-class>com.browserhorde.server.api.ScriptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScriptServlet</servlet-name>
    <url-pattern>/script</url-pattern>
  </servlet-mapping>
</web-app>