<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BrowserHoard</display-name>
  <context-param>
    <param-name>HORDE_USER_AGENT</param-name>
    <param-value>Browser Horde (browserhorde.net)</param-value>
  </context-param>
  <!-- BEGIN -->
  <context-param>
    <param-name>HORDE_AWS_S3_BUCKET</param-name>
    <param-value>net.browserhorde.demo</param-value>
  </context-param>
  <context-param>
    <param-name>HORDE_AWS_S3_PROXY</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
  	<param-name>HORDE_AWS_SQS_PREFIX</param-name>
  	<param-value>net_browserhorde_demo</param-value>
  </context-param>
  <context-param>
    <param-name>HORDE_AWS_SDB_DOMAIN_PREFIX</param-name>
    <param-value>net.browserhorde.demo</param-value>
  </context-param>
  <context-param>
    <param-name>HORDE_AWS_SES_SENDER</param-name>
    <param-value>no-reply@brainsinjars.com</param-value>
  </context-param>
  <context-param>
    <param-name>HORDE_MEMCACHED_CLUSTER</param-name>
    <param-value>localhost:11211</param-value>
  </context-param>
  <!-- END -->
  <listener>
    <listener-class>com.browserhorde.server.ExecutorServiceListener</listener-class>
  </listener>
  <listener>
  	<listener-class>com.browserhorde.server.MemcachedClientListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.browserhorde.server.InjectionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.browserhorde.server.Configurator</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class>
  </listener>
  <filter>
  	<filter-name>CORS</filter-name>
  	<filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
  	<init-param>
  		<param-name>cors.supportedMethods</param-name>
  		<param-value>GET,POST,PUT,DELETE,OPTIONS</param-value>
  	</init-param>
  	<init-param>
  		<param-name>cors.supportedHeaders</param-name>
  		<param-value>Origin,Content-Type,Allow,Accept,X-Horde-Machine-Id</param-value>
  	</init-param>
  	<init-param>
  		<param-name>cors.exposedHeaders</param-name>
  		<param-value>Content-Type,Retry-After,X-Horde-Machine-Id,X-RateLimit,X-RateLimit-Remaining,X-RateLimit-Reset</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>CORS</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>GuiceFilter</filter-name>
    <filter-class>com.browserhorde.server.IntermediateGuiceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GuiceFilter</filter-name>
    <url-pattern>/</url-pattern>
    <url-pattern>/jobs/*</url-pattern>
    <url-pattern>/scripts/*</url-pattern>
    <url-pattern>/tasks/*</url-pattern>
    <url-pattern>/results/*</url-pattern>
    <url-pattern>/users/*</url-pattern>
    <url-pattern>/workorders/*</url-pattern>
    <url-pattern>/benchmarks/*</url-pattern>
  </filter-mapping>
</web-app>